<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link rel='stylesheet' href="stylesheets/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  </head>
  <body>
    <h1> {{title}} </h1>
    <p>From: <input type="date" id="dateInput1"> To: <input type="date" id="dateInput2"> on currency 
    <select name="currencyOptions" id="currency">
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select><a id="submit">Filter</a></p>
    <canvas id="myChart"></canvas>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="javascripts/financial-data.js"></script>
  </body>
</html>
